


 

  <div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">Google Maps</div>
          <div class=" card-body">
            
            <section id="main-content">
              <section class="wrapper">
            
            
                <h1>Bonjour, {{ currentClientName }}</h1>
                
                
                  <div class="cardList">
                    <ng-container *ngFor="let account of accounts" >
                      <div class="cardListItem"> 
                        <h3><span class="blue">Numéro de compte:</span> {{ account.numero }}</h3>
                        
                        <h1 class="solde">
                          Solde : {{ account.solde | number: "1.2-2" }}
                        </h1>
                       
                        <button
                          mat-raised-button
                          color="primary"
                          [routerLink]="['/compte', account.id, 'virements']"
                        >
                          Accéder au activités
                        </button>
                        <button
                          mat-raised-button
                          color="primary"
                         (click)="open(content)"
                         
                         
                        >
                          Faire un virement
                        </button>
                  
                        
                        <ng-template #content let-c="close" let-d="dismiss">
                          <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <h3><span class="blue">Numéro de compte débiteur:</span> {{ account.numero }}</h3>
                                    
                            <h1 class="solde">
                              Solde : {{ account.solde | number: "1.2-2" }}
                            </h1>
                            <form #f="ngForm"  class="form"   >
                              
                              <div class="form__field">
                                <label>debiteur :</label>
                                <input  type="text"  ngModel="{{ account.numero }}" name="debiteur" readonly="true" >
                              
                              </div>
                              <mat-error *ngIf="accountNotFound">
                                Entrez un numero de compte valide.
                              </mat-error>
                              <div class="form__field">
                                
                               <label>creancier :</label>
                                <input type="text" placeholder="XXXXX" name="creancier" ngModel required>
                              </div>
                            
                              
                              
                              <div class="form__field">
                                <label>somme a envoyé :</label>
                                <input type="text" placeholder="XX.XX" name="somme" ngModel required>
                              </div>
                        
                          <div class="modal-footer">
                            <button [disabled]="f.invalid" type="submit" type="button" class="btn btn-outline-dark" (click)="onSubmit(f.value)" (click)="open2(contentt)">Save</button>
                          </div>
                        </form>
                      </div>
                          
                        </ng-template>
                  
                      </div>
                      </ng-container>
                  </div>
                </section>
              </section>
            
              <ng-template #contentt  >
                <div  class="modal-dialog modal-dialog-centered ">
                  <h1 class="modal-title" id="modal-basic-title" class="centering">Transaction En Cours</h1>
                  <mat-spinner  diameter="40" color="warn"
                  mode="indeterminate" value="100"></mat-spinner>
             
                </div>
            
                
              </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>

    
